---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101/097196/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"posted_content\">10.1101/097196</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">openRxiv</crm-item>\r\n
        \       <crm-item name=\"prefix-name\" type=\"string\">openRxiv</crm-item>\r\n
        \       <crm-item name=\"member-id\" type=\"number\">54368</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">87108484</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">2221814</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">2024080313022960000</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.64898</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2026-01-14T21:44:21Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2016-12-29T01:10:15Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">15</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <posted_content type=\"preprint\" language=\"en\">\r\n              <group_title>Scientific
        Communication and Education</group_title>\r\n              <contributors>\r\n
        \               <person_name contributor_role=\"author\" sequence=\"first\">\r\n
        \                 <given_name>Martin</given_name>\r\n                  <surname>Fenner</surname>\r\n
        \                 <ORCID>http://orcid.org/0000-0003-1419-2405</ORCID>\r\n
        \               </person_name>\r\n                <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                  <given_name>Mercè</given_name>\r\n
        \                 <surname>Crosas</surname>\r\n                  <ORCID>http://orcid.org/0000-0003-1304-1939</ORCID>\r\n
        \               </person_name>\r\n                <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\[...]
